.DBinfo {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.CBforTable {
    background-color: gray;
}

.infoParagraph {
white-space: nowrap;
}

.fpBtn {
    background-color: white;
    border: white;
    color: blue;
}
.indexbody {
    background-image:  url('/static/images/pexelsBG.jpg');
    color: white;
}

.apiName {
    color: white;
}
.myChart {
    background-color: lightblue;
}

.dbsLbl {
    font-weight: bold;
    font-size: larger;
}
