.DBinfo {
    background-color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.CBforTable {
    background-color: gray;
}

.infoParagraph {
white-space: nowrap;
}

.fpBtn {
    background-color: white;
    border: white;
    color: blue;
}
.indexbody {
    background-image:  url('/static/images/flaskapiBG.jpg');
    color: white;
}

.apiName {
    color: white;
}
.myChart {
    background-color: lightblue;
}

.dbsLbl {
    font-weight: bold;
    font-size: larger;
    color: black;
}

.selectBtn {
    background-color: lightblue;
    padding: 6px 4px;
    border-radius: 8px;
    font-weight: bold;
}

.selectBtn:hover {
    background-color: yellow;
}

.statsBtn {
    padding: 12px 8px;
    border-radius: 12px;
    position: absolute;
    font-weight: bold;
    background-color: lightblue;
    top:410px;
}

.statsBtn:hover {
    background-color: yellow;
}

.statsBtnHide {
    padding: 12px 8px;
    border-radius: 12px;
    position: absolute;
    background-color: lightblue;
    top:335px;
    left:330px;
}

.statsBtnHide:hover {
    background-color: yellow;
}
.accessDiv {
    position: absolute;
    top:300px;
}
.atlasLbl {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
