<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"
        integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css"
        integrity="sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/menuScripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/DynamicCreate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/sqliteScript.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/sqliteScript2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/statistic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jqueryScript.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/postgreScripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>Flask-APi</title>

<body class="indexbody">

    <p id="paths" hidden class="paths">{{dirsFinal}}</p>
    <h4 id="apiName">SQL & NoSQL management tool</h4>
    <!--Flask api animaatio näytetään näin myös selectcol.html sivulla
    {% block content %}
    {% endblock %}-->

    <p id="demo"></p>

    <div class="hideAll">
        <p id="selection" class="selection"></p>
        <button hidden id="hideBtn">Hide</button>
    </div>
    <!--näytetään mongolocalin html-koodi tässä-->
    {% include 'mongoLocal.html' %}
    <br><br>
    <label for="atlas" class="atlasLbl">Access to Atlas DB</label>
    <input type="checkbox" class="atlasCB" id="atlas" name="atlas" onclick="createAtlas()">
    <br><br>
    
    <form action="{{ url_for('postgreScripts.readPostgre')}}" method="post">
        <label for="postgreCB" class="postgreLbl">Access to PostgreSQL DataBase</label>
        <input type="checkbox" class="postgreCB" id="postgreCB" name="postgreCB" onclick="goPostgrePage()">
        <br><button hidden id="gobtn">Go</button>
    </form>
    <br>

    <form action="{{ url_for('cloudConnection.readAtlasDB')}}" method="post">
        <div class="atlasForm" id="atlasForm">
        </div>
    </form>
    </div>
    {% include 'mysqlSelect.html' %}

    {% include 'sqliteSelect.html' %}

    <input hidden type="text" id="dbPath">
    <button hidden class="runBtn" id="accessBtn">Access</button>
    <!--searched boolean lähetetään html sivulle sqlitescript.py readiput funktiossa
    jossa se on true, näytetään alla oleva select  komponentti-->
    {% if searched==True %}
    <select id="selSQLite" onchange="selectionSqlite(this)">
        {% for t in tables %}
        <option>{{t}}</option>
        {%endfor%}
    </select>
    {%endif%}


    <select hidden name="sqliteInput" id="sqliteInput" onclick="sqliteSelection(this.value)">
        <option value="default" selected>Select Table</option>
        <!--sql tietokantojen näyttö select komponentissa-->
        {% for t in tables %}
        <option value="">{{t}}</option>
        {% endfor %}
    </select>


    <!--jos sqlitetables on true näytetään allaoleva input kenttä-->
    {% if sqliteTables==True%}
    <form action="{{ url_for('sqliteScripts.showSqliteTables')}}" method="post">

        <p hidden id="selectedSqliteDB">{{dbname}}</p>

        <br>
        <!--huomaa oninput eventti, koska teksti lisätään jquery funktiolla tähän inputtii
        täytyy kentän merkkijonon tarkkailu tehdä oninputilla ja eri funktiolla-->
        <input type="text" id="sqliteFile" name="sqliteFile" placeholder="File path" oninput="clearBackup(this.value)">

        <button id="selectBtn" name="selectBtn" class="runBtn" onclick="showButton()">Select</button>
    </form>
    <form action="{{ url_for('sqliteScripts.createSqliteTable')}}" method="post">
        <input hidden type="text" id="sqliteFile2" name="sqliteFile2">

        <label hidden id="createTableLbl" for="createTableCB" class="createTableLbl"></label>
        <input hidden id="createTableCB" type="checkbox" onchange="createSqliteTable()">
        <div id="texta">
        </div>

        <form action="{{ url_for('sqliteScripts.backUpDB')}}" method="post">
            <label hidden id="backupLbl" for="backup" class="backupLbl">Backup this database</label>
            <input hidden type="checkbox" id="backup" onchange="startBackup()">
            <input hidden type="text" name="sqliteBase" id="sqliteBase">
            <button hidden id="backupBtn">Backup</button>
        </form>

        <select name="sqlitetable" id="sqlitetable" class="sqlitetable" onchange="selectionSqlite(this)">
            <option value="default" selected>Select Table</option>
            <!--sql tietokantojen näyttö select komponentissa-->
            {% for s in sqlTables %}
            <option value="">{{s}}</option>
            {% endfor %}
        </select>
        <!--jos sqlitetables on muu kuin true, piilotetaan input kenttä-->
        {%else%}
        <input hidden type="text" id="sqliteFile" name="sqliteFile">
        {%endif%}
        <!--
    <input type="checkbox"  id="sqlite" name="sqlite" onchange="runSqlite()">-->
    </form>
    <table id="sqliteTable" class="sqliteTable" border="1">

        {% for s in sqliteDatabases %}
        <tr>
            <td id="sqlite" class="sqlite">{{s}}</td>
        </tr>
        {%endfor%}
    </table>
    <!--tietokanta lähetetään parametrina dbname=dbname jos muuttuja on esim. {{dbname}} muodossa
    sitä voi käyttää suoraan parametrina.-->
    <form action="{{ url_for('sqliteScripts.runsqlite',dbname=dbname)}}" method="post">

        <!--
        <button class="runBtn" hidden id="selfWriteBtn">Access</button>-->
        <input hidden type="text" id="selectedTable" name="selectedTable">
        <input hidden type="text" id="dataBname" name="dataBname">
        <!--show table button näytetään vasta etsinnän tulosten yhteydessä if lohko toimii myös eri formeissa-->
        {% if sqliteTables==True%}
        <button id="showTableBtn" name="showTableBtn">Show table</button>
        {%endif%}
        <br>
    </form>
    <form action="{{ url_for('sqliteScripts.selfWriteQuery',dbname=dbname)}}" method="post">
        <input hidden type="text" id="selectedTable2" name="selectedTable">
        {% if sqliteTables==True%}
        <label id="queryLbl" for="query">Write SQLite query</label>
        <input type="checkbox" id="queryCB" name="queryCB" onclick="showQueryBox()">
        {%endif%}
        <br>
        <textarea hidden id="sqliteQuery" name="sqliteQuery"></textarea>
        <br>
        <button hidden id="runsqlitequery" name="runsqlitequery" class="runsqlitequery">Run query</button>
    </form>
    <form action="{{ url_for('mysqlScripts.readSelectedSql')}}" method="post">
        <div hidden id="mysqlForm">
            <select name="sqlDbs" id="sqlDbs" onchange="getMysqlDb(this)">
                <option value="default" selected>Select Database</option>
                <!--mysql tietokantojen näyttö select komponentissa-->
                {% for s in sqls %}
                <option value="">{{s}}</option>
                {% endfor %}
            </select>
            <input type="text" id="selectedSQL" name="selectedSQL">
        </div>
    </form>
    <!--näytetään stats.html sivu-->
    {% include 'stats.html' %}
</body>

</html>