<!DOCTYPE html>
<html>

<head>
  <title>MySQL</title>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/menuScripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/mysqlScripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/DynamicCreate.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/postgreScripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<nav>
  <button id="backtoSel" onclick="history.back()" class="fpBtn">Back to previous page</button> |
</nav>

<body class="sqlView">
  <h2 id="dbHeader">MySQL Tables </h2>
  <p hidden id="tableTotal">{{lng}}</p>
  <p hidden id="dbname">{{dbname}}</p>
  <p id="fields">{{numfields}}</p>
  <p id="fieldnames">{{fieldnames}}</p>
  <p hidden id="dbsize">{{dbsize}}</p>
  <p id="total"></p>

  <select name="sqltables" id="sqltables" onchange="getSqlTable(this)">
    <option value="default" selected>Select</option>
    <!--sql tietokantojen näyttö select komponentissa-->
    {% for t in tables %}
    <option value="">{{t}}</option>
    {% endfor %}
  </select>
  <form action="{{ url_for('mysqlScripts.readTableData',dbname=dbname)}}" method="post">
    <input type="text" name="selectedTable" id="selectedTable">
    <input hidden type="text" name="dbname" id="dbname" value="{{dbname}}">
    <button class="showBtn">Show table data</button>
  </form>
  {% if tablesShown==True %}
  <label for="freequery">Write SQL query</label>
  <input onclick="query()" type="checkbox" id="freequery"><br>
  {%endif%}
  <form action="{{ url_for('mysqlScripts.runSQLScript')}}" method="post">
    <textarea hidden type="text" id="querytext" name="querytext" placeholder="SQL query"></textarea><br>
    <button hidden id="runBtn" class="runBtn">Run</button>
  </form>

  <table id="dbTable" class="sqlTable" border="1">
    <tr>
      <th id="sqlHeaders" class="sqlHeaders">{{finalHeaders}}</th>
    </tr>
   
    {% for d in data %}
    <tr>
      <td id="data{{loop.index}}" class="data{{loop.index}}" >{{d}}</td>
    </tr>
    <script>
      //jquery funktio hakee testin valitusta sqldata rivistä
      jQuery("#data{{loop.index}}").click(function () {
        event.preventDefault();
        //valitun rivin teksti talletetaan muuttujaan
        var text = jQuery(this).text();
        //korvataan ( ) merkit tyhjällä
        var textreplace = text.replace("(", "").replace(")", "")
        //split katkaisee tekstin osiin tässä tapauksessa aina välilyönnin kohdalta.
        const textToArray = textreplace.split(",");
  
        createMySqlFields(textToArray)
  
      });
  
    </script>
     <p hidden id="loopLast">{{loop.length}}</p>
    {%endfor%}
  </table>
  {% for s in sqldata %}
  <p id="sqltextarea" name="sqltextarea">{{s}}</p>
  {%endfor%}
 
  <br>
  <label for="edit">Edit</label>
  <input type="checkbox" name="edit" id="edit">
  <label for="newrecord">Create new</label>
  <input type="checkbox" name="newrecord" id="newrecord" onchange="createFieldsToNew()">
  <div id="crudArea">
  </div>
  <div>
    <button class="runBtn" onclick="googleChart()">Graphics</button>
  </div>
  <div hidden id="dbChart" style="max-width:400px; height:300px"></div>
  {% include 'customs.html'%}
  
</body>

</html>