<!DOCTYPE html>
<html>

<head>
    <title>PostgreSQL</title>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/postgreScripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/mysqlScripts.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js"
        integrity="sha512-MSOo1aY+3pXCOCdGAYoBZ6YGI0aragoQsg1mKKBHXCYPIWxamwOE7Drh+N5CPgGI5SA9IEKJiPjdfqWFWmZtRA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css"
        integrity="sha512-TFee0335YRJoyiqz8hA8KV3P0tXa5CpRBSoM0Wnkn7JoJx1kaq1yXL/rb8YFpWXkMOjRcv5txv+C6UluttluCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<nav>
    <button id="backtoSel" onclick="history.back()" class="fpBtn">Back to previous page</button> |
    <button id="backtoSel" onclick="history.forward()" class="fpBtn">Go to forward page</button>
</nav>

<body class="postgre">
    <p id="totalsql">{{x}}</p>
    <h2 id="dbHeader">Postgre SQL</h2>
    <p>Table <b>{{tablename}}</b> selected</p>
    <select id="postgre" name="postgre" onchange="getPostgreDB(this)">
        <option selected>Select</option>
        {% for d in databases %}
        <option>{{d}}</option>
        {%endfor%}
    </select>

    <form action="{{ url_for('postgreScripts.getTables')}}" method="post">
        <input hidden type="text" id="selectedPostgre" name="selectedPostgre">
        <button id="listTables">List tables</button>
    </form>
    <!--showtables boolean määritellään python funktiossa-->
    <form action="{{ url_for('postgreScripts.showPostgreTable',db=db)}}" method="post">

        <!--template tagin ja javascriptin voi yhdistää, tässä tapauksessa suoritetan script
        lohko jos python boolean showtables on tosi-->
        {% if showtables==True %}
        <script>
            document.getElementById("postgre").hidden = true
            document.getElementById("listTables").hidden = true
        </script>

        <select id="postgreTables" name="postgreTables" onchange="getPostgeTable(this)">
            <option selected>Select</option>
            {% for t in tables %}
            <option>{{t}}</option>
            {%endfor%}
        </select>
       

        <input hidden type="text" name="postgreTable" id="postgreTable">
        <button>Show data</button>
        {%endif%}
        <table id="dbTable" border="1" class="pgTable">
            <tr>

                <th>{{columnname}}</th>
            </tr>

            {% for td in tabledata%}
            <tr>
                <form action="{{ url_for('postgreScripts.deletePostgreRecord')}}" method="post">
                    <td id="data{{loop.index}}" class="postgredata">{{td}} <button class="delBtn">X</button><input
                            name="id" hidden type="text" value="{{td[0]}}"></td>
                </form>


            </tr>
            <script>
                $(document).ready(function () {
                    jQuery("#data{{loop.index}}").dblclick(function () {
                        var text = jQuery(this).text()
                        var textrep = text.replace("(", "").replace(")", "")
                        var textList = textrep.split(",")
                        var fields = textList.length
                        console.log(textList)
                        //textlist annetaan parametrina funktiolle, että sen sisältö voidaan
                        //hyödyntää input kentissä fields on listan pituus eli tarvittavien 
                        //inputtien määrä
                        createFieldsPostgre(fields, textList)
                    })
                })
                function createFieldsPostgre(fields, textList) {
                    var editBtn = document.createElement("button")
                    editBtn.textContent = "Edit record"
                    editBtn.name = "editBtn"
                    editBtn.value = "editBtn"

                    var deleteBtn = document.createElement("button")
                    deleteBtn.textContent = "Delete record"
                    deleteBtn.name = "delBtn"
                    deleteBtn.value = "delBtn"
                    deleteBtn.setAttribute("class", "delBtn")

                    var linebreak = document.createElement("br")
                    editBtn.setAttribute("class", "editBtn")
                    var fieldsToInt = parseInt(fields)
                    for (var i = 0; i < fieldsToInt; i++) {
                        var field = document.createElement("INPUT")
                        field.id = i
                        field.name = i
                        //setattributella lisätää value attriubuutti ja sille arvoksi textlistin sisältö
                        field.setAttribute("value", textList[i])
                        document.getElementById("editPostgre").appendChild(field)
                    }

                    document.getElementById("editPostgre").appendChild(linebreak)
                    document.getElementById("editPostgre").appendChild(editBtn)
                   // document.getElementById("editPostgre").appendChild(deleteBtn)
                    document.getElementById("fieldsNum").value = fieldsToInt

                }
            </script>
            <p id="loopLast" hidden>{{loop.length}}</p>
            {%endfor%}
        </table>

    </form>
    <form action="{{ url_for('postgreScripts.postgreCrud')}}" method="post">

        <div id="editPostgre">
            <input hidden type="text" id="fieldsNum" name="fieldsNum">


        </div>
    </form>
    <br>
    {% if tableSelected==True %}
    <label for="postgreQuery">Write query</label>
    <input type="checkbox" id="postgreQueryCB" name="postgreQueryCB" onchange="writePostgre()">
    <form action="{{ url_for('postgreScripts.writePostgreQuery')}}" method="post">

        <textarea hidden id="writePostgre" name="writePostgre" placeholder="Write SQL query"></textarea>
        <button>Run query</button>
        {%endif%}
    </form>
    {% if showtables==true %}
    <h3 id="dbSize">{{db}} selected. Size: {{j}}</h3>
    {%endif%}
    {% include 'customs.html ' %}
    <script>
        $(function () {
            var availableCommands = [
                'insert',
                'into',
                'where',
                'update',
                'set',
                'select'

            ];
            $("#writePostgre").autocomplete({
                source: availableCommands
            });
        });
    </script>
</body>

</html>