<!--index.html sivulta haetaan siellä määritelty sisältö-->
<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename = 'scripts.js') }}"></script>
</head>

<body>
  <form action="{{ url_for('showIndex')}}" method="post">
    <button>frontpage</button>
  </form>
  <div class="DBinfo">
    <p>{{selectedDB}} has {{collections}} collections and database size is: {{datasizeRound}} Mb. Records in db:
      {{objects}}</p>
  </div>
  <input hidden type="text" name="dbname" id="dbname" value="{{dbname}}">
  <select name="cols" id="cols" onchange="GetSelectionFromSelect(this)">

    <option value="default" selected>Select Collection</option>
    <!--
          <option value="mongodb://localhost:27017/quizDB">quizDB</option>-->

    {% for c in cols %}
    <option value="mongodb://localhost:27017/{{each}}">{{c}}</option>
    {% endfor %}


  </select>


  <script>



    function GetSelectionFromSelect(sel) {
      var path = localStorage.getItem('db')
      //alert(sel.options[sel.selectedIndex].text);
      document.getElementById("path").innerHTML = path + "/" + sel.options[sel.selectedIndex].text
      document.getElementById("colname").value = sel.options[sel.selectedIndex].text
      document.getElementById("DBpath").value = path
    }
  </script>


  <p id="path" class="path"></p>

  <form action="{{ url_for('show_data')}}" method="post">
    <input type="text" name="selecDB" value="{{selectedDB}}">
    <input type="text" id="colname" name="colname" value="{{collectionNameStr}}">

    <input type="text" name="DBpath" id="DBpath"> 

    <button>Show</button>
    {% for d in dbKeysList %}
    <div id="dict" class="dict">{{d}}</div>
    {%endfor%}
    <!--kokoelman kenttien kokonaismäärä-->
    <p id="keystotal">{{keysTotal}}</p>
    <table id="dbTable" class="dbTable" border="1">
      {% for r in l %}
      <tr>
        <!--_id omalla rivillään, että jquery funktio osaa poimia vain id numeron-->
        <td id="oid" class="oid">{{r._id}}</td>
        <td id="data">{{r}}</td>
      </tr>


      {%endfor%}

    </table>
  </form>


  <br>
  <h4>Customization options</h4>
  <div class="CBforTable">
    <label id="tableCBLbl" for="tableCB">Remove table borders</label>
    <input type="checkbox" name="tableCB" id="tableCB" onclick="removeTable()">
  </div>
  <select id="colors" class="colors" onchange="changeBGcolor(this)">
    <option value="default">Select table bgcolor</option>
    <option value="white">White</option>
    <option value="lightblue">Lightblue</option>
  </select>

  <select id="font" class="font" onchange="changeFont(this)">
    <option value="default">Select font size</option>
    <option value="small">Small</option>
    <option value="medium">medium</option>
    <option value="large">Large</option>
  </select>


</body>
<script>
  //jquery funktio näyttää jokaisen _id-arvon ja siirtää sen input-kenttään kun sitä klikkaa hiirellä.
  jQuery(".oid").click(function () {
    event.preventDefault();
    var text = jQuery(this).text();
    console.log(text.trim());
    document.getElementById('objId').value = text
    document.getElementById('objId2').value = text
  });

</script>
<!--showdata muuttujan alkuarvo on false, jolloin ei näytetä allaolevaa html-koodia, funktiossa show_data
arvo muuttuu trueksi ja allaoleva näytetään if/else ehtojen mukaisesti-->
{% if showdata==True %}
<h4>Delete document</h4>
<p>Object id:</p>


<form action="{{ url_for('cruds.delRecord')}}" method="post">
<input type="text" name="DB" value="{{selectedDB}}">
<input type="text" id="col" name="col" value="{{collectionNameStr}}">
<input type="text" id="objId" name="objId">

<button>Delete</button>
</form>
<input type="checkbox" name="edit" id="edit" onclick="createEdit()">
<label for="edit">Edit?</label>
<input type="checkbox" name="search" id="search" onchange="showSearchOptions()">
<label for="search">Search</label>
<div class="searchOptions" id="searchOptions" hidden>
  <input type="text" id="src">
  <button onclick="search(document.getElementById('src').value,'yellow')">Search</button>
  <p id="words"></p>
  <p id="longest"></p>
  <p id="shortest"></p>
  <button onclick="wordStatistic()">word statistics</button>
  <!--
  <input type="button" value="Search" onclick="search(document.getElementById('find').value,'yellow')" />-->

</div>
<script>
  var clicks = 0
  function showSearchOptions() {
    var searchCB = document.getElementById("search")
    if (searchCB.checked == true) {
      document.getElementById("searchOptions").hidden = false

    }
    if (searchCB.checked != true) {
      document.getElementById("searchOptions").hidden = true

    }


  }

  var valuesList = []
  function getDBFields() {

    var values = document.getElementsByClassName("dict")
    console.log(values)

    var j = document.getElementById("keystotal").innerHTML

    for (var i = 0; i < j; i++) {

      valuesList.push(values[i].innerHTML)
    }
    console.log(valuesList)

  }
  getDBFields()




  
    function createEdit() {

      var fieldsTotal = document.getElementById("keystotal").innerHTML
      var fieldsTotalInt = Number(fieldsTotal)
      console.log(typeof fieldsTotalInt)
      var cb = document.getElementById("edit")
      
      var editBtn = document.createElement("BUTTON")
      editBtn.id = "editBtn"
      editBtn.textContent = "Edit"
      //jos checkbox on klikattu, luodaan edit painike, muussa tapauksessa tuhotaan painike
      if (cb.checked == true) {
        //document.body.appendChild(editBtn)
        
        //silmukan avulla luodaan yhtä monta input-kenttää kuin mitä kenttiä on kokoelmassakin
        for (var i = 0; i < fieldsTotalInt; i++) {
          var inpField = document.createElement("INPUT");
          //annetaan id silmukkamuuttujan kautta eli id:t ovat 0,1,2,3 jne
          inpField.id = i
          inpField.name= i
          inpField.setAttribute("type", "text");
          //document.body.appendChild(inpField);
          document.getElementById("editing").appendChild(editBtn)
          document.getElementById("editing").appendChild(inpField)

          //tietokannan kenttien nimet on lähetetty python listana html-sivulle, josta ne on puolestaan
          //talletettu javascript listaan. i-silmukkamuuttujan avulla saadaan asetettuja oikea placeholder
          //oikeaan input-kenttään
          document.getElementById(i).placeholder = valuesList[i]
        }

      }
      else {
        document.getElementById("editBtn").remove()
        //input-kenttien tuhoamisessa käytetään myös silmukkaa ja fieldstotal muuttujaa
        for (var i = 0; i < fieldsTotalInt; i++) {
          document.getElementById(i).remove()

        }
      }

    }
</script>
<form action="{{ url_for('cruds.editRecords')}}" method="post">
<input  type="text" id="objId2" name="objId2">
<input hidden type="text" name="DB" value="{{selectedDB}}">
<input hidden type="text" id="col" name="col" value="{{collectionNameStr}}">
<div id="editing">
</form>

</div>

{% else %}
<p></p>
{% endif %}



</html>