<!--index.html sivulta haetaan siellä määritelty sisältö-->
<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/menuScripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/WordSearch.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/DynamicCreate.js') }}"></script>
  
</head>

<body class="formPageBody">
  <nav>
  <form action="{{ url_for('showIndex')}}" method="post">
    <button class="fpBtn">Front page</button> |
  </form>
  <!--paluu takaisin kokoelman valintanäkymään tai eteenpäin-->

    <button id="backtoSel" onclick="history.back()" class="fpBtn">Back to previous page</button> |
    <button id="forwardbtn" onclick="history.forward()" class="fpBtn">Go to forward page</button> |
 
</nav>
  <div class="DBinfo">
    <p class="infoParagraph">{{selectedDB}} has {{collections}} collections and database size is: {{datasizeRound}} Mb. Records in db:
      {{objects}}</p> <p hidden id="total"> {{objects}}</p>
  </div>
  <input hidden type="text" name="dbname" id="dbname" value="{{dbname}}">
  <select name="cols" id="cols" onchange="GetSelectionFromSelect(this)">

    <option value="default" selected>Select Collection</option>
    <!--
          <option value="mongodb://localhost:27017/quizDB">quizDB</option>-->

    {% for c in cols %}
    <option value="mongodb://localhost:27017/{{each}}">{{c}}</option>
    {% endfor %}


  </select>

  <p id="path" class="path"></p>


  <form action="{{ url_for('show_data')}}" method="post">
    <input type="text" name="selecDB" id="selecDB" value="{{selectedDB}}">
    <input type="text" id="colname" name="colname" value="{{collectionNameStr}}">
   

    <input hidden type="text" name="DBpath" id="DBpath"> 
    <input hidden type="text" name="DBlimit" id="DBlimit" placeholder="Number of records or keyword">

    <button class="showBtn">Show</button>
    <!--DBkeyslist sisältää mongo-kokoelman kenttien nimet-->
    
    <select hidden name="fieldNames" id="fieldNames" onchange="getSelectedFieldName(this)">
      {% for d in dbKeysList %}
      <option value="{{d}}">{{d}}</option>
      {%endfor%}
    </select>
    <!--
    <input hidden type="text" name="selFieldName" id="selFieldName">
    
    <div id="dict" class="dict">{{d}}</div>
    <input id="{{d}}" name="{{d}}" type="text" value="{{d}}">-->
    
    <!--kokoelman kenttien kokonaismäärä-->
    <p hidden id="keystotal" name="keystotal">{{keysTotal}}</p>
    <table id="dbTable" class="dbTable" border="1">
      {% for r in l %}
      <tr>
        <!--_id omalla rivillään, että jquery funktio osaa poimia vain id numeron-->
        <td id="oid" class="oid">{{r._id}}</td>
        <td id="data">{{r}}</td>
      </tr>
      {%endfor%}

    </table>
  </form>
  <label id="mongoLbl" hidden for="mongoQuery">Write Mongo query</label>
  <input hidden id="mongoQuery" name="mongoQuery" type="checkbox" onclick="mongoquery()">
  <br>
  <form action="{{ url_for('runMongoQuery')}}" method="post">
  <textarea hidden id="mongodata" name="mongodata"></textarea>
  <br>
  <button hidden id="runMongo" name="runMongo" class="showBtn">Run Mongo query</button>
</form>

{% for dm in dataMongo %}
<p>{{dm}}</p>
{%endfor%}


  <br>
  <h4>Customization options</h4>
  <div class="CBforTable">
    <label id="tableCBLbl" for="tableCB">Remove table borders</label>
    <input type="checkbox" name="tableCB" id="tableCB" onclick="removeTable()">
    <label id="tableCBLbltxt" for="prettytxtCB">Pretty text</label>
    <input type="checkbox" name="prettytxtCB" id="prettytxtCB" onclick="prettyText()">
  </div>
  <select id="colors" class="colors" onclick="MenuOpened()" onchange="changeBGcolor(this)">
    <option value="default">Select table bgcolor</option>
    <option value="white">White</option>
    <option value="lightblue">Lightblue</option>
  </select>
  <!--parametri this.value on colorcode inputtiin kirjoitettu teksti-->
  <input hidden type="text" id="colorCode" placeholder="color name or code" onchange="changeBGcolorInputField(this.value)">
 

  <select id="font" class="font" onclick="fontMenuOpened()" onchange="changeFont(this)">
    <option value="default">Select font size</option>
    <option value="small">Small</option>
    <option value="medium">medium</option>
    <option value="large">Large</option>
  </select>
  <input hidden type="text" id="fontFam" placeholder="Font" onchange="changeFontFamily(this.value)">


</body>
<script>
  //jquery funktio näyttää jokaisen _id-arvon ja siirtää sen input-kenttään kun sitä klikkaa hiirellä.
  jQuery(".oid").click(function () {
    event.preventDefault();
    var text = jQuery(this).text();
    console.log(text.trim());
    document.getElementById('objId').value = text
    document.getElementById('objId2').value = text
  });

</script>
<!--showdata muuttujan alkuarvo on false, jolloin ei näytetä allaolevaa html-koodia, funktiossa show_data
arvo muuttuu trueksi ja allaoleva näytetään if/else ehtojen mukaisesti-->
{% if showdata==True %}
<script>
  document.getElementById("DBlimit").hidden=false
  document.getElementById("mongoQuery").hidden=false
  document.getElementById("fieldNames").hidden=false
  document.getElementById("mongoLbl").hidden=false
  
</script>
<br><br>
<label for="deleteCB">Delete document</label>
<input id="deleteCB" type="checkbox" onchange="showDelete()">
<p hidden id="objIdtext" class="objIdtext">Object id:</p>

<script>
 
</script>



<form action="{{ url_for('cruds.delRecord')}}" method="post">
<input hidden type="text" name="DB" value="{{selectedDB}}">
<input hidden type="text" id="col" name="col" value="{{collectionNameStr}}">
<input hidden type="text" id="objId" name="objId">

<button hidden id="deleteButton" class="cancelBtn">Delete</button>
</form>
<input type="checkbox" name="edit" id="edit" onclick="createEdit()">
<label for="edit">Edit?</label>
<input type="checkbox" name="search" id="search" onchange="showSearchOptions()">
<label for="search">Search</label>
<input type="checkbox" name="add" id="add" onclick="createEdit()">
<label for="add">Add new</label>
<div class="searchOptions" id="searchOptions" hidden>
  <input type="text" id="src">
  <button onclick="search(document.getElementById('src').value,'yellow')">Search</button>
  <p id="words"></p>
  <p id="longest"></p>
  <p id="shortest"></p>
  <button onclick="wordStatistic()">word statistics</button>
  <!--
  <input type="button" value="Search" onclick="search(document.getElementById('find').value,'yellow')" />-->

</div>
<script>
  var clicks = 0
  function showSearchOptions() {
    var searchCB = document.getElementById("search")
    if (searchCB.checked == true) {
      document.getElementById("searchOptions").hidden = false

    }
    if (searchCB.checked != true) {
      document.getElementById("searchOptions").hidden = true

    }


  }

  var valuesList = []
  function getDBFields() {
    //kenttien nimet tulee python funktiosta ja ne näytetää dict nimisessä elementissä
    var values = document.getElementsByClassName("dict")
    console.log(values)
    //mongo kokoelman kenttien määrä
    var j = document.getElementById("keystotal").innerHTML

    //tallennetaan kaikki kenttien nimet listaan, j on kokonaismäärä kenttiä
    for (var i = 0; i < j; i++) {

      valuesList.push(values[i].innerHTML)
    }
    console.log(valuesList)

  }
  getDBFields()




  
   
</script>
<form action="{{ url_for('cruds.editRecords')}}" method="post">
<input hidden  type="text" id="objId2" name="objId2">
<input hidden type="text" name="DB" value="{{selectedDB}}">
<input hidden type="text" id="col" name="col" value="{{collectionNameStr}}">
<div id="editing">
</form>

</div>

<form action="{{ url_for('cruds.addRecord')}}" method="post">
<div id="addNew">
<input hidden type="text" name="DB" value="{{selectedDB}}">
<input hidden type="text" id="col" name="col" value="{{collectionNameStr}}">

</div>
</form>

{% else %}
<p></p>
{% endif %}



</html>