<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/sqliteScript.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/sqliteScript2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jqueryScript.js') }}"></script>
    
    <title>SQLite</title>
</head>

<body class="sqliteBody" onload="insertTableName()">
    <nav>
        <form action="{{ url_for('showIndex')}}" method="post">
            <button class="fpBtn">Front page</button> |
        </form>
        <!--paluu takaisin kokoelman valintanäkymään tai eteenpäin-->

        <button id="backtoSqlite" onclick="reloadPage()" class="fpBtn">Back to previous page</button> |
        <button id="forwardbtn" onclick="history.forward()" class="fpBtn">Go to forward page</button> |

    </nav>
    <h3>SQLite Databases</h3>
    <p>sqlite.html</p>
   
    <p id="tableName" class="tableName">{{table}} table Selected</p>




    <table border="1">
        <tr>
            <th id="cols" class="cols">{{finalNames}}</th>
        </tr>


        {%for d in data%}

        <tr>
            <td id="data{{loop.index}}">{{d}}</td>
            <td>
                <!--id annetaan endpointissa, eli funktion nimi ,id=[:2] eli 2 ensimmäistä merkkiä
            koska d on merkkijono ja ensimmäiset kirjaimet ovat id numero -->
                <form action="{{ url_for('sqliteScripts.deleteSqliteRecord',id=d[:2])}}" method="post">
                    <input hidden type="text" id="dbname" name="dbname" value="{{dbname}}">
                    <button class="sqliteDelete">X</button><input hidden id="btnId{{loop.index}}"
                        name="btnId{{loop.index}}" type="text">
            </td>
            <input hidden type="text" name="sqlSelection" value="{{selectedTable}}">
            <!--taulun id kentän nimi on tässä nimi haetaan sqlitescripts.py:n runsqlite funktiossa-->
            <input hidden type="text" name="idfield" value="{{columnnames}}">
            </form>
            <script>
                jQuery("#data{{loop.index}}").click(function () {
                    //event.preventDefault();
                    var text = jQuery(this).text();
                    //katkaistaan merkkijono , merkin kohdalta, että saadaan pelkkä id numero
                    var textSplit = text.split(",")
                    //textSplit on taulukko, joten talletetaan muuttujaan taulukon ensimmäinen (0) alkio.
                    var splittedText = textSplit[0]
                    console.log(splittedText)
                    //klikatun tietueen id annetaan sitä vastaavan inputin arvoksi.
                    document.getElementById("btnId{{loop.index}}").value = splittedText
                });
            </script>
            <script>
                jQuery("#data{{loop.index}}").dblclick(function () {
                    //event.preventDefault();
                    var text = jQuery(this).text();
                    var Colamount = document.getElementById("colAmount").innerHTML
                    var ColamountInt = parseInt(Colamount)
                    var textArray = text.split(",")
                    console.log(Colamount)
                    //klikatun tietueen arvot on talletettu textarray listaan. silmukan ja kierrosmuuttujan
                    //avulla saadaan oikea arvo oikeaan kenttään valmiiksi editoitavaksi.
                    for (var i = 0; i < ColamountInt; i++) {

                        document.getElementById(i).value = textArray[i]

                    }
                    //id-kenttä muutetaan readonlyksi, eli id:tä ei voi muokata
                    document.getElementById("0").setAttribute("readonly", "true")


                });
                //tätä käytetään kun on haettu db-tiedostoja käyttäjän antamasta sijainnista
           
            </script>
            {%endfor%}
        </tr>

    </table>
    <p hidden>{{dbname}}</p>
    <p type="text" hidden id="colAmount">{{columnInt}}</p>
    <label for="createRecord" class="createRecordLbl">Create new record</label>

    <p id="columnNames" class="columnNames" hidden>{{columnamesAll}}</p>
    <input type="checkbox" id="createRecord" name="createRecord" onchange="createSqlFields()">
    <label for="editSqlRecord" class="editSqlRecord">Edit record</label>
    <input type="checkbox" id="editSqlRecord" onchange="createSqlEditFields()">
    <label for="createColumn">Create new column</label>
    <input type="checkbox" id="createColumn" onchange="createNewColumn()">
 
    <!--sarakkeiden määrä lähetetään python funktiolle parametrina amount=columnInt-->
    <form action="{{ url_for('sqliteScripts.createSqliteRec',amount=columnInt,db=dbname,table=table)}}" method="post">


        <div id="createNew">
        </div>
    </form>
    <form action="{{ url_for('sqliteScripts.editSqlite',amount=columnInt,db=dbname,table=table)}}" method="post">
        <div id="editSqlite">

        </div>
    </form>
   
    <form action="{{ url_for('sqliteScripts2.createColumn',dbname=dbname,table=table)}}" method="post">
    <div hidden id="columnCreate">
        <input type="text" id="columnName" name="columnName" placeholder="Column name">
        <button>Create column</button>
    </div>
    </form>

    
      
<!--</form>-->
<label id="tableColumns" class="tableColumns" for="tableColumnsCB">Create table and columns</label>
<input type="checkbox" id="tableColumnsCB" onchange="tableColumnsDiv()">

    <div hidden id="tableColumnsDiv">
        <button onclick=" createInputsSqlite()">Create input</button>
        <br>
        <form action="{{ url_for('sqliteScripts2.createTableCols',dbname=dbname,table=table)}}" method="post">
        <button>Create columns</button>
        <input type="text" id="columns" name="columns"></input>
    </form>
        <!--
        <input type="submit">send</input>-->
    
    </div>
    </form>
    <br>
    <button id="reloadBtn" onclick="location.reload(true)">Reload</button>
    <form action="{{ url_for('sqliteScripts.selfWriteQuery',dbname=dbname)}}" method="post">
        <input hidden type="text" id="selectedTable2" name="selectedTable">
      
        <label id="queryLbl" for="query">Write SQLite query</label>
        <input type="checkbox" id="queryCB" name="queryCB" onclick="showQueryBox()">
        <button>Run query</button>
        <br>
        <textarea hidden id="sqliteQuery" name="sqliteQuery"></textarea>
        <br>
        <button hidden id="runsqlitequery" name="runsqlitequery" class="runsqlitequery">Run query</button>
    </form>
    <form action="{{ url_for('sqliteScripts2.exportCsv')}}" method="post">
        <label for="removeHeaders">No headers</label>
        <input type="checkbox" id="removeHeaders" name="removeHeaders" value="noHeaders">
        <select id="sep" name="sep" onchange="getSeparatorChar(this)">
            <option selected>Select separator</option>
            <option value=":">:</option>
            <option value="/">/</option>
            <option value=";">;</option>
        </select>
        <input hidden type="text" name="dbname" value="{{dbname}}">
        <input hidden type="text" id="tname" name="tablename" value="{{table}}">
        <input hidden type="text" id="sepChar" name="sepChar">
    <button id="exportBtn"></button>
</form>

    

</body>

</html>